.main-container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container {
  width: 450px;

  text-align: center;
  background-color: hsl(217, 19%, 24%);
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}
.advice-number {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  font-size: 0.6em;
  font-weight: bolder;
  letter-spacing: 5px;
}
.btn{
    margin-top: 30px;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    z-index: 1;
    border: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: hsl(150, 100%, 66%) 0px 2px 4px 0px, hsl(150, 100%, 66%) 0px 2px 16px 0px;
}
.btn:active{
    transform: scale(0.9);
}
.img-divider{
    margin-top: 30px;
}